@font-face {
    font-family: 'Lora';
    src: url('Lora.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Lora-Italic';
    src: url('Lora-Italic.ttf') format('truetype');
    font-weight: 400;
    font-style: italic;
}